name: cifuzz-basic
on:
  workflow_dispatch:
  push:
    branches:
      - '**'
      - '!main'
    paths-ignore:
      - '**.md'

jobs:
  build-duckdb:
    name: Build DuckDB
    uses: ./.github/workflows/build_fuzzer.yml
    with:
      git_url: duckdb/duckdb_sqlsmith
      git_tag: main
      timeout-minutes: 120

  fuzzer:
    name: Fuzzer
    needs:
    - build-duckdb
    strategy:
      fail-fast: false
      matrix:
        fuzzer: [duckfuzz, sqlsmith]
        data: [alltypes, tpch, emptyalltypes]
    uses: ./.github/workflows/fuzz_duckdb.yml
    with:
      fuzzer: ${{ matrix.fuzzer }}
      data: ${{ matrix.data }}
      timeout-minutes: 120
      max_queries: 10
      no-git-checks: true
    secrets:
      DUCKDB_HASH: ${{ needs.build-duckdb.outputs.duckdb-hash }}